* {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3rem;
  font-family: "Libre Baskerville", serif;
  font-size: 1.125rem;
  background-color: #141211;
  color: #e28d8d;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* HEADER */

header {
  width: 100%;
  background-color: #222222;
  padding: 1.5rem 0;
}

header ul {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

header a {
  color: #e28d8d;
  text-transform: uppercase;
  font-size: 1rem;
}

/* HERO */

.hero {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.hero-image img {
  width: 350px;
  border-radius: 50%;
  border: 1px solid #e28d8d;
}

.hero-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.hero h1 {
  font-family: "IM Fell English SC", serif;
  font-size: 2.5rem;
  max-width: 400px;
}

.hero p {
  font-size: 1rem;
  max-width: 350px;
  line-height: 1.5;
}

.hero-actions {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.hero-cta,
.hero-link {
  background-color: #e28d8d;
  color: #141211;
  font-family: "IM Fell English SC", serif;
  font-weight: bold;
  border: none;
  font-size: 1.125rem;
  padding: 0.5rem 1.5rem;
  border-radius: 25px;
  cursor: pointer;

  &&:hover {
    background-color: #222222;
    color: #e28d8d;
    border: 1px solid #e28d8d;
  }
}

.hero-social {
  width: 20px;
}

.hero-cta:hover .hero-social,
.hero-link:hover .hero-social {
  filter: invert(78%) sepia(38%) saturate(1256%) hue-rotate(302deg)
    brightness(102%) contrast(77%);
}

/* SKILLS */

.skills {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3.5rem;
  font-family: "IM Fell English SC", serif;

  h2 {
    text-align: center;
    font-size: 2.8rem;
  }
}

.skills-list {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 3rem;

  img {
    width: 60px;
  }
}

/* PORTFOLIO */

footer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  font-size: 0.6rem;
  text-align: center;
  background-color: #222222;
  padding: 0.7rem 0;
}
