* {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3rem;
  font-family: "Libre Baskerville", serif;
  font-size: 1.125rem;
  background-color: #141211;
  color: #e28d8d;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* HEADER */

header {
  width: 100%;
  background-color: #222222;
  padding: 1.5rem 0;
}

header ul {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

header a {
  color: #e28d8d;
  text-transform: uppercase;
  font-size: 1rem;
}

/* HERO */

.hero {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.hero-image img {
  width: 350px;
  border-radius: 50%;
  border: 1px solid #e28d8d;
}

.hero-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.hero h1 {
  font-family: "IM Fell English SC", serif;
  font-size: 2.5rem;
  max-width: 400px;
}

.hero p {
  font-size: 1rem;
  max-width: 350px;
  line-height: 1.5;
}

.hero-actions {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.hero-link {
  padding: 0.5rem 1.5rem;
  border-radius: 25px;
}

.hero-social {
  width: 20px;
}

.hero-link:hover .hero-social {
  filter: invert(78%) sepia(38%) saturate(1256%) hue-rotate(302deg)
    brightness(102%) contrast(77%);
}

/* SKILLS */

.skills {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  font-family: "IM Fell English SC", serif;

  h2 {
    text-align: center;
    font-size: 2.8rem;
  }
}

.skills-list {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 3rem;

  img {
    width: 60px;
  }
}

/* PORTFOLIO */

.portfolio {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
}

.portfolio h2 {
  font-family: "IM Fell English SC", serif;
  text-align: center;
  font-size: 2.8rem;
}

.projects-container {
  display: flex;
  gap: 2rem;
}

.project-card {
  display: flex;
  flex-direction: column;
  max-width: 390px;
  background: #222222;
  border-radius: 1rem;
  border: 2px solid #222222;
}

.project-image img {
  width: 100%;
  border-radius: 1rem 1rem 0 0;
  transition: opacity 0.3s ease-in-out;

  &&:hover {
    opacity: 0.7;
  }
}

.project-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1.5rem;

  h3 {
    font-family: "IM Fell English SC", serif;
    font-size: 1.5rem;
  }

  .tech {
    font-family: "IM Fell English SC", serif;
    font-size: 0.85rem;
    letter-spacing: 0.5px;
    color: #e28d8d;
    text-transform: uppercase;
  }

  .description {
    font-size: 1rem;
    color: #bfa5a4;
    margin-bottom: 1rem;
  }
}

.project-links {
  display: flex;
  gap: 0.8rem;
  flex-wrap: wrap;

  .project-links-btn {
    padding: 0.55rem 1.1rem;
    border-radius: 0.6rem;
  }
}

/* FOOTER */

footer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  font-size: 0.6rem;
  text-align: center;
  background-color: #222222;
  padding: 0.7rem 0;
}

/* BTN UTILITY */
.btn {
  font-family: "IM Fell English SC", serif;
  font-weight: bold;
  background-color: #e28d8d;
  color: #141211;
  font-size: 1rem;
  transition: all 0.2s ease;

  &&:hover {
    background-color: #222222;
    color: #e28d8d;
    border: 1px solid #e28d8d;
  }
}
